/* You can add global styles to this file, and also import other style files */

/* font-family: 'Muli', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Monoton', cursive; */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.title {
  font-family: 'Monoton', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

p {
  font-family: 'Muli', sans-serif
}

header {
  grid-area: header;
}

article {
  grid-area: content;
  padding: 20px;
}

aside {
  grid-area: sidebar;
}

footer {
  padding: 20px;
  grid-area: footer;
  background-color: lightsalmon;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header  header" "sidebar content" "footer  footer";
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas: "header" "content" "sidebar" "footer";
  }
}